<div style="height: 100vh;background: url('assets/img/mainbackgound.jpg') no-repeat; background-size: 100% 100%;">
  &nbsp;
  <div
    style="width: 60%; margin-top:100px; margin-left: auto; margin-right: auto; padding: 30px 50px; background: #F4F4F4!important; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.541)!important; border-radius: 12px">
    <div>
      <img src="assets/img/logo.png" alt="" style='width:120px'>
    </div>
    <hr style="border: 2px solid #AB263E">
    <div style="text-align: center; font-size: 26px; margin-top: 50px; margin-bottom: 80px">
      Simple Order System
    </div>
    <span class="pull-left">Making a Difference</span>
    <div style="text-align:right;">
      <button pButton (click)="login($event)" label="Login">
      </button>
    </div>
  </div>

</div>