<div [style.display]="isEditMode ? 'none' : 'block'">
  <p-table #table [columns]="cols" [value]="orderList" [rows]="5" [paginator]="true" [scrollable]="true" scrollHeight="160px"
    selectionMode="single" [(selection)]="orderService.orderListSelected" dataKey="orderNo"
    (onRowUnselect)="onRowUnselect($event)" (onRowSelect)="onRowSelect($event)" [loading]="loading" [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>