<div id="header" class="ui-g" style="border-bottom: 1px grey solid; margin-bottom: 5px;;">
  <app-menu class="ui-g-5"></app-menu>
  <app-breadcrumb class="ui-g-4"></app-breadcrumb>
  <app-user-snapshot class="ui-g-3"></app-user-snapshot>
</div>

<div #content id="content">
  <router-outlet></router-outlet>
</div>

<p-blockUI [blocked]="isBlock">
  <p-progressSpinner animationDuration="0.5S"
    [style]="{width: '80px', height: '80px', position: 'fixed', top: 'calc(50vh - 40px)', left: 'calc(50vw - 40px)'}">
  </p-progressSpinner>
</p-blockUI>