/* You can add global styles to this file, and also import other style files */
html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

/* 修改primeng字体 */
body .ui-widget {
  font-family: inherit !important;
}

body .ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}

.disabled {
  color: #aaaaaa;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
