:host ::ng-deep .p-breadcrumb {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

// :host ::ng-deep div {
//   font-size: 11px !important;
// }

// :host ::ng-deep .pi {
//   font-size: 11px !important;
// }

